body {
    margin: 0;
    overflow-x: hidden;
}

h3 {
  line-height: 30%;
  font-family: "Lora", serif;
}

h4 {
  line-height: 30%;
  font-family: "Lato", sans-serif;
}

p {
  line-height: 20%;
  font-family: "Lato", sans-serif;
}

hr {
  width: 225px;
}

.button {
  font-family: "Lato", sans-serif;
}

/* Thanks to Frank Lantz for the console and pulsate code, check out his game Universal Paperclips */
#console {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  background: black;
}
p.console {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 18px;
    color: white;
    margin-top: 0;
    line-height: 100%
}
p.consoleOld {
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 14px;
    color: grey;
    margin-bottom: 0;
    line-height: 140%
}
/* Pulsate animation used in console */
.pulsate {
  -webkit-animation: pulsate .8s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.0;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.0;
    }
}

#display {
  width: 100%;
}
#display div {
  width: 225px;
  float: left;
  margin-left: 10px;
}

#business div {
  margin: 0;
}
#research {
  display: none;
}
#research div {
  margin: 0;
}
#computing {
  display: none;
}
#computing div {
  margin: 0;
}

#projects div {
  height: 150px;
  width: 300px;
  background: lightgray;
  display: none;
  margin-top: 10px;
}
#projects h4 {
  padding-left: 5px;
}
#projects p {
  line-height: 100%;
  text-align: center;
}

#routerDiv {
  display: none;
  margin: 0;
}
#graduateDiv {
  display: none;
  margin: 0;
}
#appleIIDiv {
  display: none;
  margin: 0;
}